/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 nov. 2020, 18:16:51
    Author     : Luis
*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
.error{
    color: red;
}

body{
    background-color: whitesmoke;
}

form{
    border: 2px solid gray;
    margin: auto;
    position: absolute;
    padding: 15px;
    top: 45%;
}

input[type="submit"]{
    background-color: transparent;
    border: 2px solid black;
    padding: 5px;
    border-radius: 2px;
    color: black;
}

input:focus{
    background-color: #dddddd;
    color: black;
}

input:read-only{
    background-color: gray;
    color: white;
    width: auto;
}


@media screen and (max-width: 2270px) {
    form{
        width: 35%;
        left: 32.5%;
    }
}

@media screen and (max-width: 1650px) {
    form{
        width: 55%;
        left: 22.5%;
    }
}

@media screen and (max-width: 1068px) {
    form{
        width: 75%;
        left: 12.5%;
    }
}